
@{
    ViewBag.Title = "Index";
}

<div class="dft-overlay text-center">
    <div class="dft-survey-title">Your Opinion Matters</div>

    <div class="dft-survey-subtitle">Help Move Lloydminster in the Right Direction as We Plan Our Transportation Future</div>
    <p class="dft-copy-text">We need your help to identify and rank transportation issues that are important to you.</p>
    <p class="dft-copy-text">Your input will help guide us in planning our future transportation network for all methods of transportation, from motor vehicles to bicycles.</p>
    <a class="btn btn-primary btn-lg" href='@Href("~/Survey/One")'>Begin &gt;&gt;</a>
</div>


